div.App{
    background-color: #2b2b2b;
    color:antiquewhite;
    max-width: 300px;
    border-color: #5a5a5a;
    border-radius: 10px;
    border-style: solid;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

